<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795949222167-3n1bvbt7lggvo0ol0o7cbr202b9kuech.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795949222167-3n1bvbt7lggvo0ol0o7cbr202b9kuech</string>
	<key>API_KEY</key>
	<string>AIzaSyC2PfvMzKw06uUsxdVAwwexfLBuWuA2_ME</string>
	<key>GCM_SENDER_ID</key>
	<string>795949222167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lenguasvivas.mobile</string>
	<key>PROJECT_ID</key>
	<string>lenguasvivas-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>lenguasvivas-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795949222167:ios:ffbfd9e281f8d5d5e40f52</string>
	<key>DATABASE_URL</key>
	<string>https://lenguasvivas-mobile.firebaseio.com</string>
</dict>
</plist>