ion-app.app-root page-core-mainmenu-more ion-icon {
	color: $blue !important;
}
.item-md ion-icon[item-start] {
	color: $blue;
}
ion-app.app-root.md .button-md-light .button-inner {
	color: $white;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
	color: $core-color;
}